div[class*="col"]
{
    height: 400px;
    border: solid black 5px;
    box-sizing: border-box;
}

.b
{

    background-color: yellow;

}
.c
{
    background-color: blue;
}
.d
{
    background-color: red;
}
.e
{
    background-color: yellow;
}
.k
{
    background-color: blue;
}
.l
{
    background-color: red;
}
.m
{
    min-height: 600px;
}
.n
{
    min-height: 400px;
}
.r1
{
    margin-top: -200px;
}
.p
{
    background-color: red;
}
.n ,.o, .p, .q, .r
{
    max-height: 200px;
}
.r
{
    background-color: yellow;
}
.r2
{
    margin-top: -200px;
}
.t
{
    background-color: blue;
}
.u
{
    background-color: yellow;
}
.s, .t, .u, .v, .w
{
    max-height: 200px;
}