body
{
    width: 95%;
    margin: auto;
    font-family: Verdana;
    font-size: 1.2em;
}

h1
{
    color: #007e7e;
    font-size: 150%;
}
h2
{
    color: #007e7e;
    font-size: 130%;
}
.rechts
{
    border: #007e7e solid 1px;
    box-sizing: border-box;
    float: right;
    display: inline-block;
    width: 25%;
    padding: 20px;
    margin: 10px;
}

.rechts h1, .rechts h2
{
    color:red;
    text-align: center;
}

.rechts a:hover
{
    background-color: saddlebrown;
}

.hoofd
{
    width: 70%;
    box-sizing: border-box;
    display: inline-block;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer
{
    font-size: 50%;
    text-align: center;
}

#guarantee
{
    color: #444444;
    border: dotted white 3px;
    margin: 30px;
    padding: 20px 50px;
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-color: #a7cece;
}