.container{
    background-color: cornflowerblue;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    column-gap: 20px;
    row-gap: 20px;
    display: grid;
}

.container .block{
    margin:50px;
    padding:50px;
    background-color: white;
}