body
{
    margin: 0px auto;
    padding: 0px;
    width : 95%;
    font-family: Arial, Helvetica, sans-serif;
}


#geschiedenis
{
    width: 25%;
    box-sizing: border-box;
    border: 1px solid #999999;
    color:#666666;
    background-color:#dddddd;
    font-size: 90%;
    float:right;
}

#main
{
    float:left;
    width: 75%;
}

#top
{
    height: 200px;
    text-align: center;
    background: url("../images/bgsky3.jpg") no-repeat;
    background-size: cover;
    position:relative;
    color : darkblue;
}

#top img
{
    bottom:60px;
    right: 250px;
    position:absolute;
}


#top h1
{
    margin : 0px;
    font-size:300%;
    font-style:italic;
    font-weight:bold;
}

#top p
{
    font-size:240%;
    margin-top: 50px;
    font-style:normal;
    font-weight:bold;
}


#geschiedenis h1
{
    color: white;
    background-color: blue;
    font-size: 120%;
    text-align:center;
}

#geschiedenis p
{
    padding: 0px 10px;
}


.inleiding
{
    margin-top: 20px;
    margin-left: 20px;
    background: url(../images/airbus_logo.jpg) no-repeat top left;
    padding : 0px 30px 20px 170px;

    font-size: 90%;
    text-align:justify;
}


.inleiding span
{
    font-style:italic;
    color: blue;
    font-weight:bold;
}

.voorbeeldfotos
{
    background-color: #999999;
    padding : 10px 0px 10px 10px;
}

.fotos
{
    display:inline-block;
    width: 200px;
    height: 200px;
    margin: 10px 10px;
    background-color:white;
    border: 1px dashed #999999;
}


.fotos>img
{
    padding: 10px 0px 0px 10px;
}

nav
{
    clear : both;
    background-color: #666666;
    color:white;
}

.informatie
{
    display:inline-block;
    margin-left: 120px;
    margin-bottom:0px;
    line-height: 2em;
}
.informatie a
{
    color: white;
}
.informatie a:hover
{
    color: red;
}

.copyright p
{
    text-align:center;
}